@use "../../../styles/abstracts/mixins" as m;
@use "../../../styles/abstracts/variables" as v;

.container,
.outputContainer {
  margin: 1rem;
  border-radius: 10px;
  background-color: v.$grey-color-9;
  padding: 1rem;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.24);
  color: v.$grey-color-5;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  @include m.mediaDesktop {
    max-width: 120rem;
  }
}

.outputContainer {
  @include m.flexCenter(column);
  max-width: 1200px;
}

.grid {
  display: grid;
  gap: 1rem;
}

.button,
.reset {
  padding: 0.75rem 0.75rem;
  border-radius: 10px;
  border: none;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  transition: all 0.1s linear;
}
.form {
  display: grid;
  gap: 1rem;
  grid-template-rows: 55px repeat(7, 110px) 44px;
}

.chart {
  grid-column: 1/ 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  border-radius: 10px;
  background-color: v.$grey-color-9;
}

.tooltip {
  padding: 1rem;
  color: v.$grey-color-1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.24);
}

.outputWrapper {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

@media (max-width: 799px) {
  .container,
  .outputContainer {
    max-width: 400px;
    margin: auto;
  }

  .grid {
    grid-template-rows: 1fr;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.button {
  background-color: v.$color-primary;
  color: v.$grey-color-9;
}

.reset {
  background-color: v.$color-neutral-dark;
  border: 2px solid v.$color-primary;
  color: v.$color-primary;
}

.button:hover,
.button:focus {
  background-color: v.$color-primary-dark;
  color: v.$grey-color-9;
  transform: scale(1.05);
  transition: all 0.1s linear;
}

.reset:hover,
.reset:focus {
  transform: scale(1.05);
  transition: all 0.1s linear;
  border-color: v.$color-primary-dark;
  color: v.$color-primary-dark;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.title {
  color: v.$color-primary;
}
