.ham {
  width: 2.5rem;
  margin: auto 1em auto;
  right: 1em;
  height: 2.5rem;
  /* position: relative; */
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .ham {
    display: none;
  }
}
.topBar,
.midBar,
.bottomBar,
.topBarOpen,
.midBarOpen,
.bottomBarOpen {
  height: 5px;
  background-color: #3a3a3a;
  border-radius: 5px;
  width: 2.5rem;
  transform-origin: left;
  margin: 3px 0;
  transition: all 0.5s ease-in-out;
}

.topBarOpen {
  transform: rotate(45deg);
}

.midBarOpen {
  transform: translateX(-1rem);
  transition: all 0.01s ease-out;
  opacity: 0;
}

.bottomBarOpen {
  transform: rotate(-45deg);
}
