@use "../../styles/abstracts/mixins" as m;
@use "../../styles/abstracts/variables" as v;

.header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  padding: 0 2%;
  align-items: center;
  justify-content: space-between;
  background-color: v.$color-neutral-dark;
  z-index: 100;
  border-bottom: 1px solid rgba(189, 189, 189, 0.493);

  @include m.mediaDesktop {
    position: relative;
  }
}

.headerClear {
  background-color: rgba(0, 0, 0, 0.082);
}

.linksLarger {
  margin: auto;
}

.nav {
  display: flex;
  height: 5rem;
  font-weight: 500;
  color: var(--grey-color-1);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;
}

.header h1 {
  color: var(--main-color);
}

.header ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: auto;
}

.header li {
  margin: 1em;
}

.header a:hover {
  display: block;
  color: var(--grey-color-1);
  transform: scale(1.04);
  transition: all 0.2s ease;
}

.header a {
  letter-spacing: 0.15rem;
  color: var(--grey-color-4);
}

.header button {
  padding: 0.75rem 1rem;
  flex-grow: 0;
  color: var(--grey-color-7);
  background-color: var(--main-color);

  border-width: 1px;
  font-weight: 400;
  /* border-radius: 10px; */
  transition: all 0.2s ease;
}

.header button:hover {
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  transform: scale(1.05);
  border-color: var(--color-primary-dark);
}

.actionContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .header ul {
    display: flex;
  }

  .actionContainer {
    margin-left: auto;
  }
}

@media (max-width: 800px) {
  .header ul,
  .actionContainer {
    display: none;
  }
}
